.nav-link {
  color: hsla(217, 58%, 23%, 1) !important;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;  
  &.active, &:hover {
    font-weight: bold;
    color: #F47522 !important;
  }
}

.navbar .logo-brand {
  width: 100px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }  
}

@media (max-width: 992px) {
  .nav-link {    
    font-size: 1.25rem;
  }
}