body {
  background: url(./img/sample-pattern.png);  
  width: 100%;
  min-height: 100vh;
}

.logo-brand {
  width: 200px;
}

h4 {
  color: rgb(0, 153, 255);
}

.footer {
  color: white;  
}
.footer p {
  margin: 0;
}