h3 {
  font-size: 28px;
}

.p-registration {
  display: flex;
  min-height: 100vh;
  &__cover {
    background: linear-gradient(0deg, rgba(25, 52, 94, 0.65), rgba(25, 52, 94, 0.65)), url(../../assets/images/charles-rRWiVQzLm7k-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 40%; 
    position: relative; 
    &-img {
      width: 50%;
      img {
        width: 100%;
      }
    }
    &-icon {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
    }
  }
  &__content {
    flex-basis: 60%;  
    overflow-y: auto;
    &-form {
      label {
        font-size: 18px;
      }
      .form-check label {
        font-size: 16px;
      }
      .btn-submit {
        background-color: #F47522;
        color: white;
        border-radius: 20px;
      }
    }
  }
}

select.form-control { -webkit-appearance: menulist; }

@media (max-width: 992px) {
  .p-registration {
    &__content {
      flex-basis: 70%;
    }
    &__cover {    
      flex-basis: 30%;  
    }
  }  
}

@media (max-width: 768px) {  
  .p-registration__cover-img {
    width: 40%;
    padding: 20px 0;
  }
}