@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

p, h3, label {
  margin: 0;
  color: #19345E;
}


.p-contact {
  display: flex;
  min-height: 100vh;
  font-size: 16px;
  h3 {
    font-size: 1.75em;
  }
  &__cover {
    background: linear-gradient(0deg, rgba(25, 52, 94, 0.65), rgba(25, 52, 94, 0.65)), url(../../assets/images/charles-rRWiVQzLm7k-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 40%;  
    &-img {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
  &__content {
    flex-basis: 60%;  
    overflow-y: auto;
    &-form {
      label {
        font-size: 20px;
      }
      .btn {
        background-color: #F47522;
        color: white;
        border-radius: 20px;
      }
    }
    select.form-control { -webkit-appearance: menulist; }
  }
}

@media (max-width: 992px) {
  .contact__content {
    flex-basis: 70%;
  }
  .contact__cover {    
    flex-basis: 30%;  
  }
}

@media (max-width: 768px) {  
  .contact__cover-img {
    width: 40%;
    padding: 20px 0;
  }
}